<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="5" MadCap:lastHeight="2338.333" MadCap:lastWidth="317" MadCap:fileTags="TopicType.Ref-Visual" class="concept" MadCap:conditions="Releases.Investigation Use">
    <MadCap:change MadCap:changes="9">&#160;</MadCap:change>
    <head>
        <MadCap:changeData>
            <MadCap:AddChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="9" MadCap:timestamp="2012-01-04T18:35:50.6719838-08:00" />
        </MadCap:changeData>
        <link href="../../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1> Instructions for [<span class="Placeholder">UI label</span> variable] [<span class="Parameter">UI structure</span>] visual reference</h1>
        <p class="editorialNote">For examples of this topic type, see AMC-VREF.fltoc in AmalgaV3-wking.</p>
        <p class="editorialNote">For topic title, use [<i>UI label</i>] [<i>UI structure</i>] visual reference&#160; For example: <MadCap:variable name="FeatureName.Management Console second use" /> primary window. Other UI structures include dialog boxes and browser pages.</p>
        <p class="editorialNote">If you need a variable for the UI label, contact Cindy Wyckoff (v-ciwyco).</p>
        <p class="PersonaAll">&#160;</p>
        <p class="editorialNote">Previous paragraph is a color-specific persona line. Default style:&#160;p.personaAll<br />Revise to select a specific persona. If more than one persona applies, use the style p.PersonaAll.</p>
        <p class="abstract">[Abstract] This topic includes an image of the [UI&#160;label variable] [UI structure] and describes its key elements. </p>
        <p class="editorialNote">The abstract is a complete sentence that describes what is in the topic; it doesn't summarize the topic. Use the above phrasing for visual reference abstracts.</p>
        <p>
            <MadCap:snippetText src="../../../../Resources/Snippets/Vis-Ref-AMC-Purpose.flsnp" />
        </p>
        <p class="editorialNote">Briefly describe the function of the UI element; why the reader would use this UI element.</p>
        <p class="editorialNote">Add index marker for whole topic here. There should be at least one keyword per topic. Insert the index marker (or index "entry") in the first non-abstract paragraph that is not a snippet if the marker applies to the whole topic. Add other index markers as needed.</p>
        <p><strong>Access</strong>
        </p>
        <p class="editorialNote">For visual reference topics, document only the access method that is best from a usability standpoint.<br />•	<span class="Label">Preferred:</span> If there is a topic that provides all needed steps to access a screen using a specific path, xref that topic.<br />•	<span class="Label">Alternative:</span> If there is no topic that provides all needed steps, then do the following.<br />&#160;&#160;&#160;&#160;&#160;&#160;&#160;~	If the UI element is inside Management Console, xref the Open Mgmt Console proc.<br />&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;~ If the steps needed to get to the screen are 3 or more, write an access topic, and xref that topic.<br />&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;~ If there are two or fewer steps, put the steps in this topic (inserted as individual step snippets for reuse). Reuse the step snippets in related task topics so that all versions stay in sync.<br /></p>
        <p>For access steps, see [opening procedure topic].</p>
        <p> The following image shows the <span class="Parameter">[UI&#160;label variable]</span><span class="Parameter">[UI structure]</span> [with... indicate expanded, highlighted, or other states within image:]</p>
        <p class="Figure">[Insert image]</p>
        <p class="editorialNote"><i>Insert graphic above with reference numbers for following table (standard order is clockwise, from upper left). For graphic and callout standards, see [Graphics standards (new section) in upcoming Writers Guide].</i>
        </p>
        <table style="width: 95%;">
            <col style="width: 53px;" />
            <col />
            <col />
            <thead>
                <tr>
                    <th>Ref#</th>
                    <th>Name</th>
                    <th>Description and tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
            </tbody>
        </table>
        <p class="SeeAlso" MadCap:conditions="Production.doNOTbuild">See also</p>
        <p class="editorialNote">If you add a  cross-reference or hyperlink in the See also section, remember to remove the DoNotBuild condition for that paragraph.</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Tasks</p>
        <p MadCap:conditions="Production.doNOTbuild">[Procedure topic to select the related module (<MadCap:variable name="FeatureName.Management Console second use" /> only)]</p>
        <p MadCap:conditions="Production.doNOTbuild">[All procedure topics that use this UI element (or list the most common procedures that use this UI element; note that these references serve to give instructions for accessing the UI&#160;element]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">References</p>
        <p MadCap:conditions="Production.doNOTbuild">[Visual reference topic for module start page (<MadCap:variable name="FeatureName.Management Console second use" /> only)]</p>
        <p MadCap:conditions="Production.doNOTbuild">[Visual reference topic for immediate "parent"&#160;UI element, if applicable]</p>
        <p MadCap:conditions="Production.doNOTbuild">[Visual reference topic for immediate "child" UI element, if applicable]</p>
        <p MadCap:conditions="Production.doNOTbuild">[Visual reference topics for additional UI&#160;elements if mentioned in content (optional)]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Concepts</p>
        <p MadCap:conditions="Production.doNOTbuild">[Concept topics related to the usage statement for this UI&#160;element]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Other resources </p>
        <p MadCap:conditions="Production.doNOTbuild">[(optional)]</p>
    </body>
</html>