<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="5" MadCap:lastHeight="658" MadCap:lastWidth="684" MadCap:fileTags="TopicType.Navigation" MadCap:conditions="Releases.Investigation Use">
    <head>
        <link href="../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Navigation - Lower TOC Nodes</h1>
        <p>
            <MadCap:annotation MadCap:createDate="2011-08-09T15:06:17.7007388-07:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Font size 9pt and italic" MadCap:editor="v-labenn" MadCap:editDate="2011-08-09T16:23:29.1195777-07:00" style="font-style: italic;">Abstract</MadCap:annotation>
        </p>
        <p>Overview (one or more paragraphs)</p>
        <p class="Label">Sections in this topic</p>
        <p>Link to Topic 1 . . .n</p>
        <p class="h8">
            <MadCap:annotation MadCap:createDate="2011-08-09T14:58:08.8198342-07:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Optional -- use this section and the items under it only as needed.\r\nList  order TBD, but it should be the same for all topics." MadCap:editor="v-ciwyco" MadCap:editDate="2011-08-09T15:05:58.8442182-07:00">See Also</MadCap:annotation>
        </p>
        <p class="Label">
            <MadCap:annotation MadCap:createDate="2011-08-09T23:07:58.5978030-07:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Procedures, Walkthroughs, Troubleshooting" MadCap:editor="v-ciwyco" MadCap:editDate="2011-08-09T23:08:58.7514030-07:00">Tasks</MadCap:annotation>
        </p>
        <p>
            <MadCap:annotation MadCap:createDate="2011-08-09T14:58:38.0185060-07:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Use Previous Task and Next Task only when a topic is a procedure that is a step in a multi-proc process." MadCap:editor="v-ciwyco" MadCap:editDate="2011-08-09T23:07:47.6310030-07:00">Previous Task</MadCap:annotation>
        </p>
        <p>Next Task</p>
        <p>[links to other related tasks]</p>
        <p class="Label">
            <MadCap:annotation MadCap:createDate="2011-08-09T23:09:35.2730030-07:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Error and event message topics, XML Reference, General Reference . . ." MadCap:editor="v-ciwyco" MadCap:editDate="2011-08-09T23:10:22.4798854-07:00">References</MadCap:annotation>
        </p>
        <p>[Linked reference topics]</p>
        <p class="Label">
            <MadCap:annotation MadCap:createDate="2011-08-09T23:12:12.3903502-07:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Concept topics, includingTechnology overview topics, architecture, Scenarios" MadCap:editor="v-ciwyco" MadCap:editDate="2011-08-09T23:13:16.3120720-07:00">Concepts</MadCap:annotation>
        </p>
        <p>[Linked concept topics]</p>
        <p class="Label">
            <MadCap:annotation MadCap:createDate="2011-08-09T23:11:30.7995458-07:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="orientation/navigation pages and external references " MadCap:editor="v-ciwyco" MadCap:editDate="2011-08-09T23:11:32.5000766-07:00">Other Resources</MadCap:annotation>
        </p>
        <p>[Linked resource topics]</p>
    </body>
</html>