<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="5" MadCap:lastHeight="488.6667" MadCap:lastWidth="624" MadCap:fileTags="TopicType.Ref_Error,TopicOwner.StyleMasterResource" MadCap:conditions="Production.doNOTbuild,Releases.Investigation Use">
    <head>
        <link href="../../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Error reference</h1>
        <p class="CHANGEME"><b style="color: #ff0000;">Delete this <MadCap:annotation MadCap:createDate="2011-09-06T19:15:09.2670246-07:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Next paragraph is a color-specific persona line.\r\n   Default style: p.PersonaAll \r\n   Revise to select a specific persona." MadCap:editor="v-labenn" MadCap:editDate="2011-09-06T19:15:16.1311126-07:00">line</MadCap:annotation></b>
        </p>
        <p class="abstract">
            <MadCap:annotation MadCap:createDate="2011-08-30T15:33:24.0878839-07:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Either the abstract or intro must include the feature name or tool related to these messages." MadCap:editor="v-labenn" MadCap:editDate="2011-08-30T16:50:23.7723210-07:00">[Abstract (optional)]</MadCap:annotation>
        </p>
        <p>[Intro paragraph (optional)]</p>
        <table style="width: 95%;" class="verticalFormat">
            <col />
            <col />
            <thead>
                <tr>
                    <th>[<MadCap:annotation MadCap:createDate="2011-08-30T15:36:28.2397603-07:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Set Style Class for this table to verticalFormat." MadCap:editor="v-labenn" MadCap:editDate="2011-09-06T19:15:52.7466393-07:00">Code</MadCap:annotation> or type]</th>
                    <th>[Description or message]</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
            </tbody>
        </table>
        <p class="SeeAlso" MadCap:conditions="Production.doNOTbuild">See <MadCap:annotation MadCap:createDate="2011-12-20T20:17:29.9153709-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="By default, mark this section in your topic as &quot;DnB&quot; (Properties&gt; Conditional Text&gt;Production&gt;DoNOTBuild). You can remove the condition as you add cross-references to your topic." MadCap:editor="v-labenn" MadCap:editDate="2011-12-20T20:17:31.1166111-08:00">also</MadCap:annotation></p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Tasks</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">References</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Concepts</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Other resources </p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
    </body>
</html>