<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="667" MadCap:lastWidth="491" MadCap:fileTags="TopicType.Ref_General,TopicOwner.StyleMasterResource" MadCap:conditions="Releases.Investigation Use">
    <head>
        <link href="../../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>[General reference]</h1>
        <p><b class="CHANGEME">[<MadCap:annotation MadCap:createDate="2011-09-06T19:18:59.3839279-07:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="This topic type encompasses a variety of formats. Use your judgment or consult your editor.\r\n\r\nNext paragraph is a color-specific persona line.\r\n   Default style: p.PersonaAll \r\n   Revise to select a specific persona." MadCap:editor="v-labenn" MadCap:editDate="2011-09-06T19:19:06.3914384-07:00">Delete</MadCap:annotation> this line]</b>
        </p>
        <p class="PersonaAll">&#160;</p>
        <p class="abstract">
            <MadCap:annotation MadCap:createDate="2011-12-20T22:12:55.5807117-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="delete? no need for abstract for this topic type?" MadCap:editor="v-labenn" MadCap:editDate="2011-12-20T22:13:07.0055168-08:00">[Abstract]</MadCap:annotation>
        </p>
        <p>[Intro paragraph (optional)]</p>
        <p class="h8">[<MadCap:annotation MadCap:createDate="2012-01-10T23:46:25.9315396-08:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Repeat this and the next paragraph as needed." MadCap:editor="v-ciwyco" MadCap:editDate="2012-01-10T23:46:36.7626226-08:00">Field</MadCap:annotation> or element name]</p>
        <p>[Description]</p>
        <p class="SeeAlso" MadCap:conditions="Production.doNOTbuild">See <MadCap:annotation MadCap:createDate="2011-12-20T20:17:00.8325615-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="By default, mark this section in your topic as &quot;DnB&quot; (Properties&gt; Conditional Text&gt;Production&gt;DoNOTBuild). You can remove the condition as you add cross-references to your topic." MadCap:editor="v-labenn" MadCap:editDate="2011-12-20T20:17:01.9187787-08:00">also</MadCap:annotation></p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Tasks</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">References</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Concepts</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Other resources </p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p MadCap:conditions="Production.doNOTbuild">
            <MadCap:annotation MadCap:createDate="2011-08-24T19:06:59.7706856-07:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Links to releveant MSDN topics or books; links to online training" MadCap:editor="v-labenn" MadCap:editDate="2011-08-24T19:07:00.8003186-07:00" MadCap:conditions="Production.doNOTbuild">External references</MadCap:annotation>
        </p>
    </body>
</html>