<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="715" MadCap:lastWidth="815" MadCap:fileTags="TopicOwner.StyleMasterResource" MadCap:conditions="Releases.Investigation Use">
    <head>
        <link href="../../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1 style="font-style: normal;">[<MadCap:annotation MadCap:createDate="2011-08-29T11:11:44.9447083-07:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Note type of title, such as &quot;noun phrase&quot; or &quot;verb+ noun phrase&quot; See DevDiv for possible others" MadCap:editor="v-ciwyco" MadCap:editDate="2011-08-29T11:12:52.3336843-07:00">TT </MadCap:annotation><MadCap:annotation MadCap:createDate="2011-08-31T09:11:16.7701749-07:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="DO NOT USE THIS TEMPLATE." MadCap:editor="v-labenn" MadCap:editDate="2011-08-31T09:11:39.6325749-07:00">notes]</MadCap:annotation></h1>
        <p class="abstract">[Abstract]</p>
        <p>[Intro paragraphs]</p>
        <p class="Figure">[Optional <MadCap:annotation MadCap:createDate="2011-08-29T13:21:42.4041282-07:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="style as p.figure" MadCap:editor="v-ciwyco" MadCap:editDate="2011-08-29T13:21:50.5151922-07:00">graphic</MadCap:annotation>]</p>
        <p>This topic contains the following subsections:</p>
        <ul>
            <li>[Section heading (use an xref to a heading)]</li>
        </ul>
        <h2>
            <MadCap:annotation MadCap:createDate="2011-08-30T14:25:07.9693279-07:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Depends on topic type, could be optional" MadCap:editor="v-labenn" MadCap:editDate="2011-08-30T14:25:43.3608667-07:00">[Section 1 . . . n]</MadCap:annotation>
        </h2>
        <p>[text]</p>
        <p class="SeeAlso" MadCap:conditions="Production.doNOTbuild">
            <MadCap:annotation MadCap:createDate="2011-11-08T14:47:03.4081954-08:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Optional -- use this section and the items under it only as needed." MadCap:editor="v-ciwyco" MadCap:editDate="2011-11-08T14:47:04.8263372-08:00">See also</MadCap:annotation>
        </p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Tasks</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">References</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Concepts</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Other resources </p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
    </body>
</html>