<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="449" MadCap:lastWidth="624" MadCap:fileTags="TopicType.Navigation,TopicOwner.StyleMasterResource" MadCap:conditions="Production.doNOTbuild,Releases.Investigation Use">
    <head>
        <link href="../../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>[Navigation by mini-TOC]</h1>
        <p class="CHANGEME"><b style="color: #ff0000;">[Delete <MadCap:annotation MadCap:createDate="2011-09-06T19:19:49.1861954-07:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Use Noun phrase or Noun + overview.\r\n\r\nNext paragraph is a color-specific persona line.\r\n   Default style: p.PersonaAll \r\n   Revise to select a specific persona." MadCap:editor="v-labenn" MadCap:editDate="2011-09-06T19:19:56.0975058-07:00">this</MadCap:annotation> line]</b>
        </p>
        <p class="PersonaAll">&#160;</p>
        <p class="abstract">[<MadCap:annotation MadCap:createDate="2011-12-20T22:13:15.2874802-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Delete? No need for abstract for this topic type?" MadCap:editor="v-labenn" MadCap:editDate="2011-12-20T22:13:27.9258039-08:00">Abstract</MadCap:annotation>]</p>
        <p>[Overview (one or more paragraphs)]</p>
        <p class="Label">[In this section]</p>
        <p>[Mini-TOC]</p>
        <p class="SeeAlso" MadCap:conditions="Production.doNOTbuild">
            <MadCap:annotation MadCap:createDate="2012-01-05T10:03:20.5429468-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="By default, mark See also section in your topic as &quot;DnB&quot; (Properties&gt; Conditional Text&gt;Production&gt;DoNOTBuild). You can remove the condition as you add cross-references to your topic." MadCap:editor="v-labenn" MadCap:editDate="2012-01-05T10:03:22.1145311-08:00">See also</MadCap:annotation>
        </p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Tasks</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">References</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Concepts</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Other resources </p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
    </body>
</html>