<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="5" MadCap:lastHeight="1165.667" MadCap:lastWidth="896" MadCap:fileTags="TopicOwner.StyleMasterResource,TopicType.Ref_General" MadCap:conditions="Releases.Investigation Use">
    <head>
        <MadCap:changeData>
            <MadCap:AttributesChange MadCap:userName="v-ciwyco" MadCap:initials="CJW" MadCap:id="1" MadCap:timestamp="2012-01-31T17:10:57.9104280-08:00" MadCap:attribute="style" MadCap:value="width: 125px;" />
            <MadCap:RemoveChange MadCap:userName="v-ciwyco" MadCap:initials="CJW" MadCap:id="2" MadCap:timestamp="2012-01-31T17:12:51.1387497-08:00" />
        </MadCap:changeData>
        <link href="../../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>[cmdlet name]</h1>
        <p class="PersonaAll">&#160;</p>
        <p class="abstract" MadCap:conditions="Production.doNOTbuild">
            <MadCap:annotation MadCap:createDate="2012-01-31T13:01:12.8749938-08:00" MadCap:creator="v-keith" MadCap:initials="KH" MadCap:comment="If the subject cmdlet is not intended for customer use, remove the Production.DoNotBuild condition on this line and delete the rest of the topic." MadCap:editor="v-ciwyco" MadCap:editDate="2012-01-31T14:37:56.2507196-08:00">This</MadCap:annotation> cmdlet is reserved for internal use and is not intended to be used by customers.</p>
        <p>
            <MadCap:annotation MadCap:createDate="2012-01-17T13:47:20.6615993-08:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Resource for format: http  ://technet.microsoft.com/en-us/library/dd347701.aspx" MadCap:editor="v-keith" MadCap:editDate="2012-01-31T16:39:00.7048998-08:00">The</MadCap:annotation> [cmdlet-name]  cmdlet [describe what the cmdlet does]. </p>
        <p><strong>Amalga built-in role membership required:</strong>  [List acceptable roles] <br MadCap:changes="2" /></p>
        <p>For more information, <MadCap:annotation MadCap:createDate="2012-01-31T17:13:23.2159571-08:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="This cross ref will build correctly only in AmalgaV3 project." MadCap:editor="v-ciwyco" MadCap:editDate="2012-01-31T17:14:20.0036353-08:00">see <MadCap:xref href="../Serviceability/Management Console/User Management/SERV_CON_BuiltinRoles.htm" target="" title="" alt="">Built-in  roles</MadCap:xref>.</MadCap:annotation></p>
        <h2>Syntax</h2>
        <p class="Syntax">
            <MadCap:annotation MadCap:createDate="2012-02-01T10:28:57.5652538-08:00" MadCap:creator="v-keith" MadCap:initials="KH" MadCap:comment="Remove common parameters from syntax for CTP2." MadCap:editor="v-keith" MadCap:editDate="2012-02-01T10:29:23.3579893-08:00">[cmdlet]</MadCap:annotation> [specific parameter name] &lt;parameter type&gt; <br MadCap:conditions="Production.PrintOnly" /></p>
        <h2>
            <MadCap:annotation MadCap:createDate="2012-01-17T14:17:42.8998049-08:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Every parameter should have this information:\r\n---Parameter  from syntax\r\n---Description of the effect of the parameter on the cmdlet\r\n---Table of values" MadCap:editor="v-ciwyco" MadCap:editDate="2012-01-30T12:23:01.1068293-08:00">Parameter description<MadCap:annotation MadCap:createDate="2012-01-31T14:39:05.0916030-08:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Use plural only if there are multiple parameters." MadCap:editor="v-labenn" MadCap:editDate="2012-01-31T15:17:22.3230079-08:00">s</MadCap:annotation></MadCap:annotation>
        </h2>
        <p MadCap:conditions="Production.doNOTbuild">
            <MadCap:annotation MadCap:createDate="2012-02-01T10:21:17.6918457-08:00" MadCap:creator="v-keith" MadCap:initials="KH" MadCap:comment="If a cmdlet does not have parameters, use this statement and delete the rest of the parameter section." MadCap:editor="v-keith" MadCap:editDate="2012-02-01T10:21:50.1791609-08:00">This</MadCap:annotation> cmdlet does not have parameters.</p>
        <p class="h7">[<MadCap:annotation MadCap:createDate="2012-01-17T17:39:47.0112287-08:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="Repeat this section as needed (cut &amp; paste)." MadCap:editor="v-labenn" MadCap:editDate="2012-01-20T12:30:54.4970391-08:00">Parameter</MadCap:annotation>]</p>
        <p>[Description of parameter -- what effect does the parameter have?]</p>
        <table>
            <col MadCap:changes="1" style="width: 141px;" />
            <col />
            <tbody>
                <tr>
                    <th>Characteristic</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <th class="informal">Required?</th>
                    <td>&lt;Yes or No&gt;</td>
                </tr>
                <tr>
                    <th class="informal">Position</th>
                    <td>&lt;Named is the default -- needs confirmation&gt;</td>
                </tr>
                <tr>
                    <th class="informal">Default value</th>
                    <td>&lt;Enter <MadCap:annotation MadCap:createDate="2012-01-20T12:35:51.6775537-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Assumed default values should be confirmed for each cmdlet." MadCap:editor="v-labenn" MadCap:editDate="2012-01-20T12:40:32.8599074-08:00">default</MadCap:annotation> values&gt;</td>
                </tr>
                <tr>
                    <th class="informal">Accepted values</th>
                    <td>&lt;Enter accepted values&gt;					</td>
                </tr>
                <tr>
                    <th class="informal">Accept pipeline input?</th>
                    <td>&lt;True is the default - needs confirmation&gt;</td>
                </tr>
                <tr>
                    <th class="informal">Accept wildcards?</th>
                    <td> &lt;Yes or No&gt;</td>
                </tr>
            </tbody>
        </table>
        <p class="h8" MadCap:conditions="Production.doNOTbuild">
            <MadCap:annotation MadCap:createDate="2012-01-31T13:04:38.9509938-08:00" MadCap:creator="v-keith" MadCap:initials="KH" MadCap:comment="The common parameters implementation will not be documented for CTP2.\r\n\r\nThis section is included for future doc updates as dev takes more advantage of the common parameter base functions.\r\n\r\nThere will be a statement on the PS landing page about common parameter support." MadCap:editor="v-labenn" MadCap:editDate="2012-01-31T15:16:33.6060134-08:00">&lt;</MadCap:annotation>CommonParameters&gt;</p>
        <p MadCap:conditions="Production.doNOTbuild">This cmdlet supports <MadCap:variable name="BrandingMS.Doors PowerShell" />&#160; common parameters as described in the following table. For more information, see <a href="http://go.microsoft.com/fwlink?LinkID=229930">Common Parameters</a>.</p>
        <table style="width: 95%;" MadCap:conditions="Production.doNOTbuild">
            <col style="width: 141px;" />
            <col />
            <thead>
                <tr>
                    <th>Parameter </th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-Verbose
</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>-Debug
</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>-WarningAction
</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>-WarningVariable
</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td> -ErrorAction
</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>-ErrorVariable
</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>-OutVariable
</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>-OutBuffer   
</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>-WhatIf
</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>-Confirm
</td>
                    <td>&#160;</td>
                </tr>
            </tbody>
        </table>
        <p class="h8">Example</p>
        <p class="InputText">
            <MadCap:annotation MadCap:createDate="2012-01-18T16:50:10.5700407-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Replace with an actual example of a PowerShell command using the cmdlet beling documented." MadCap:editor="v-ciwyco" MadCap:editDate="2012-01-31T14:51:37.2288092-08:00">New-AmVirtualSchema -ApplicationInstanceName "ApplicationNameInstance1" -DataHostInstanceName "localhost"</MadCap:annotation>
        </p>
        <p class="SeeAlso" MadCap:conditions="Production.doNOTbuild">See <MadCap:annotation MadCap:createDate="2012-01-18T16:56:23.9613761-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="If you add a  cross-reference or hyperlink in the See also section, remember to remove the DoNotBuild condition for that paragraph." MadCap:editor="v-labenn" MadCap:editDate="2012-01-31T15:46:25.4519781-08:00">also</MadCap:annotation></p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Tasks</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference related tasks that complete operations identical or similar to that of this cmdlet.]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">References</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference related cmdlets.]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Concepts</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Other resources </p>
        <p MadCap:conditions="Production.doNOTbuild">[(optional)]</p>
    </body>
</html>