<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="584.6667" MadCap:lastWidth="439" MadCap:fileTags="TopicType.ProcessSequence,TopicOwner.StyleMasterResource" MadCap:conditions="Releases.Investigation Use">
    <head>
        <link href="../../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>[Process Sequence]</h1>
        <p class="CHANGEME"><span style="font-weight: bold;">[Delete this <MadCap:annotation MadCap:createDate="2011-09-06T19:17:24.4608748-07:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Use for feature name, product name, or set of tasks.\r\n\r\nNext paragraph is a color-specific persona line.\r\n   Default style: p.PersonaAll \r\n   Revise to select a specific persona." MadCap:editor="v-labenn" MadCap:editDate="2011-09-06T19:17:30.7985768-07:00">line</MadCap:annotation>]</span>
        </p>
        <p class="PersonaAll">&#160;</p>
        <p class="abstract">[Abstract] This <MadCap:annotation MadCap:createDate="2011-12-20T22:14:43.4057938-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Suggested text for abstract;  use a full sentence." MadCap:editor="v-labenn" MadCap:editDate="2011-12-20T22:14:44.4657620-08:00">topic</MadCap:annotation> describes . . . </p>
        <p>[Intro paragraph]</p>
        <table style="width: 95%;" class="verticalFormat">
            <col />
            <col />
            <col />
            <col MadCap:conditions="Production.PrintOnly" />
            <thead>
                <tr>
                    <th>Step #</th>
                    <th>
                        <p>[<MadCap:annotation MadCap:createDate="2011-08-30T15:42:23.1179210-07:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Optional:  add column at left to indicate sequence of steps.\r\nSet Style Class to verticalFormat in table properties." MadCap:editor="v-ciwyco" MadCap:editDate="2012-01-10T23:48:10.8377991-08:00">Topic </MadCap:annotation> (Linked)]</p>
                    </th>
                    <th>Description</th>
                    <th>	Page (xref)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
            </tbody>
        </table>
        <p class="SeeAlso" MadCap:conditions="Production.doNOTbuild">See <MadCap:annotation MadCap:createDate="2011-12-20T20:16:39.5678334-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="By default, mark this section in your topic as &quot;DnB&quot; (Properties&gt; Conditional Text&gt;Production&gt;DoNOTBuild). You can remove the condition as you add cross-references to your topic." MadCap:editor="v-labenn" MadCap:editDate="2011-12-20T20:16:40.6766484-08:00">also</MadCap:annotation></p>
        <p MadCap:conditions="Production.doNOTbuild">[Related topic cross-reference or hyperlink]</p>
        <p MadCap:conditions="Production.doNOTbuild">[Related topic cross-reference or hyperlink]</p>
    </body>
</html>