<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="8" MadCap:lastHeight="1036" MadCap:lastWidth="413" MadCap:fileTags="TopicType.Procedure,TopicOwner.StyleMasterResource" MadCap:conditions="Releases.Investigation Use">
    <head>
        <link href="../../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>[Procedure]</h1>
        <p><b class="CHANGEME">[Delete <MadCap:annotation MadCap:createDate="2011-09-06T19:18:16.5951987-07:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Use Imperative verb with sentence case, as in &quot;Develop an Amalga application&quot;.\r\nFor more information, see the entry in the DDUE Style Guide on:How-To topic types.\r\n\r\nNext paragraph is a color-specific persona line.\r\n   Default style: p.PersonaAll \r\n   Revise to select a specific persona." MadCap:editor="v-labenn" MadCap:editDate="2011-09-06T19:18:32.5874243-07:00">this</MadCap:annotation> line]</b>
        </p>
        <p class="PersonaAll">&#160;</p>
        <p class="abstract">[Abstract] <MadCap:annotation MadCap:createDate="2011-12-20T22:14:02.8934586-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Suggested text for abstract;  use a full sentence." MadCap:editor="v-labenn" MadCap:editDate="2011-12-20T22:14:14.0241646-08:00">This</MadCap:annotation> topic describes</p>
        <p>[Intro paragraph]</p>
        <h2>
            <MadCap:annotation MadCap:createDate="2011-08-19T09:32:58.9618607-07:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="(Optional). \r\nBest practice: Use one procedure per topic" MadCap:editor="v-ciwyco" MadCap:editDate="2012-01-10T23:45:23.4322903-08:00">Section heading</MadCap:annotation>
        </h2>
        <p class="LabelforProcedures">[Procedure <MadCap:annotation MadCap:createDate="2011-12-20T19:44:54.0370318-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Proc heading and numbered steps should be a snippet in almost all cases." MadCap:editor="v-labenn" MadCap:editDate="2011-12-20T19:46:14.9267576-08:00">heading</MadCap:annotation></p>
        <ol>
            <li>Numbered step</li>
            <li>Numbered step<ol style="list-style-type: lower-alpha;"><li>First  indent</li><li>First indent<ol style="list-style-type: lower-roman;"><li>Second level indent</li><li>Second level indent]</li></ol></li></ol></li>
        </ol>
        <p>[More text]</p>
        <p class="SeeAlso" MadCap:conditions="Production.doNOTbuild">See <MadCap:annotation MadCap:createDate="2011-12-20T19:47:11.1997607-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="By default, mark See also section in your topic as &quot;DnB&quot; (Properties&gt; Conditional Text&gt;Production&gt;DoNOTBuild). You can remove the condition as you add cross-references to your topic." MadCap:editor="v-labenn" MadCap:editDate="2011-12-20T19:47:23.1885617-08:00">also</MadCap:annotation></p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Tasks</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">References</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Concepts</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Other resources </p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
    </body>
</html>