<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="3" MadCap:lastHeight="848" MadCap:lastWidth="624" class="reference" MadCap:searchable="False" MadCap:conditions="Production.doNOTbuild,Releases.Investigation Use">
    <head>
        <MadCap:changeData>
            <MadCap:RemoveChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="1" MadCap:timestamp="2011-12-21T18:44:19.4257177-08:00" />
            <MadCap:AddChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="2" MadCap:timestamp="2011-12-21T18:44:19.4726005-08:00" />
            <MadCap:AttributesChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="3" MadCap:timestamp="2011-12-21T18:45:12.7595189-08:00" MadCap:attribute="class" />
            <MadCap:AddChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="4" MadCap:timestamp="2011-12-21T18:45:40.0403067-08:00" />
            <MadCap:RemoveChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="5" MadCap:timestamp="2011-12-21T18:46:42.2822851-08:00" />
            <MadCap:AddChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="6" MadCap:timestamp="2011-12-21T18:46:42.2978949-08:00" />
            <MadCap:AddChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="7" MadCap:timestamp="2011-12-21T18:52:49.8401071-08:00" />
            <MadCap:RemoveChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="8" MadCap:timestamp="2011-12-21T18:53:19.9390657-08:00" />
            <MadCap:AddChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="9" MadCap:timestamp="2011-12-21T18:54:07.4046085-08:00" />
            <MadCap:AttributesChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="10" MadCap:timestamp="2011-12-21T18:54:25.7386035-08:00" MadCap:attribute="class" />
            <MadCap:RemoveChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="11" MadCap:timestamp="2011-12-21T18:56:42.2730212-08:00" />
            <MadCap:AddChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="12" MadCap:timestamp="2011-12-21T18:56:42.6318465-08:00" />
        </MadCap:changeData>
        <link href="../../../../Resources/Stylesheets/AmalgaMainRefCard.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="cardtype">
            <H1 class="service">Name (friendly?<MadCap:annotation MadCap:createDate="2011-12-21T18:44:41.6449673-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Do you want formal name or &quot;friendly&quot; name---who decides?" MadCap:editor="v-labenn" MadCap:editDate="2011-12-21T18:45:23.1987557-08:00" MadCap:changes="3" class="ForeignCodeElements">)</MadCap:annotation></H1>
            <p>
                <MadCap:change MadCap:changes="2">[C</MadCap:change>
                <MadCap:change MadCap:changes="1">c</MadCap:change>olor<MadCap:change MadCap:changes="2">-</MadCap:change><MadCap:change MadCap:changes="1"> <![CDATA[ ]]></MadCap:change>coded background based on H1.xxx style for type (service, control, etc)<MadCap:change MadCap:changes="2">]</MadCap:change></p>
        </div>
        <div id="ident">
            <h2>Identification</h2>
            <p class="LabelforProcedures">Type</p>
            <p><![CDATA[ ]]><MadCap:change MadCap:changes="6">[</MadCap:change><MadCap:change MadCap:changes="5">(</MadCap:change>service, control, etc.<MadCap:change MadCap:changes="6">]</MadCap:change><MadCap:change MadCap:changes="5">)</MadCap:change></p>
            <p class="LabelforProcedures">Application name</p>
            <p>DataParser</p>
            <p class="LabelforProcedures">Publisher</p>
            <p>Microsoft Corporation	<MadCap:annotation MadCap:createDate="2011-12-21T18:47:03.8770609-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="Check MSTP--omit &quot;version&quot;?" MadCap:editor="v-labenn" MadCap:editDate="2011-12-21T18:47:20.5171077-08:00"><MadCap:change MadCap:changes="6">v</MadCap:change><MadCap:change MadCap:changes="5">V</MadCap:change>ersion</MadCap:annotation> 1.0.0.0</p>
            <p class="LabelforProcedures">Identifier</p>
            <p>44162965-1f39-4f81-94b4-63002da90b90</p>
            <p class="LabelforProcedures">CAB <MadCap:change MadCap:changes="4">path</MadCap:change></p>
            <p>path/datapipe/DataParser.cab</p>
            <p class="LabelforProcedures">Deployment manifest type</p>
            <p>Application (1 per feed)		DataParserApplication.xml</p>
            <p>DoorsWorker (1 per feed)	DataParser.xml</p>
            <p>(FabricLogicalHost) – <MadCap:annotation MadCap:createDate="2011-12-21T18:45:59.4349679-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="put instrucitons in annotation?" MadCap:editor="v-labenn" MadCap:editDate="2011-12-21T18:46:09.4678871-08:00"><MadCap:change MadCap:changes="4">[</MadCap:change>Not sure what this means or whether there are other options<MadCap:change MadCap:changes="4">]</MadCap:change></MadCap:annotation></p>
        </div>
        <div id="deploy">
            <h2>Deployment</h2>
            <p class="LabelforProcedures">Deployment profile: <MadCap:change MadCap:changes="4">[</MadCap:change>Describe this…and <MadCap:annotation MadCap:createDate="2011-12-21T18:47:33.8322671-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="put instructitons in annotation?" MadCap:editor="v-labenn" MadCap:editDate="2011-12-21T18:53:12.1529691-08:00">link</MadCap:annotation> to app deployment tasks<MadCap:change MadCap:changes="4">]</MadCap:change></p>
            <p>Cluster mode</p>
            <p>Network load balance</p>
            <p class="LabelforProcedures">Permission</p>
            <p>database connection</p>
            <p class="LabelforProcedures">Required databases</p>
            <p>ClinicalData, AEID, HLI</p>
            <h2>Dependencies and <MadCap:change MadCap:changes="7">r</MadCap:change><MadCap:change MadCap:changes="8">R</MadCap:change>elationships</h2>
            <p class="LabelforProcedures">Dependent on</p>
            <p>TerminologyApplication instance</p>
            <p class="LabelforProcedures">Related application</p>
            <p>BackfillParser application</p>
            <p class="LabelforProcedures">Remarks</p>
            <p>
                <MadCap:annotation MadCap:createDate="2011-12-21T18:53:00.0135239-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="put instructitons in annotation?" MadCap:editor="v-labenn" MadCap:editDate="2011-12-21T18:53:46.3244151-08:00">
                    <MadCap:change MadCap:changes="7">[</MadCap:change>Provide a brief description and a link to more information (or drop<MadCap:change MadCap:changes="7">-</MadCap:change>down text<MadCap:change MadCap:changes="7"> <![CDATA[ ]]></MadCap:change>box)<MadCap:change MadCap:changes="7">]</MadCap:change></MadCap:annotation>
            </p>
        </div>
        <div id="use">
            <h2>Use</h2>
            <p>Input: &lt;shredded columns&gt;</p>
            <p>Output: &lt;derived columns&gt;</p>
            <p>Transform library</p>
            <p>Correlation enterprise identifiers</p>
            <p>Entity namespace</p>
            <p>None</p>
            <p class="LabelforProcedures">XML setting: See full example</p>
            <p>Default – a, b, c</p>
            <p>Unique – d, e, f</p>
            <p>All setting elements – a, b, c, d, e, f, g, h, …</p>
            <p>Performance counters</p>
            <p>
                <MadCap:annotation MadCap:createDate="2011-12-21T18:57:04.3797799-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="what is this?" MadCap:editor="v-labenn" MadCap:editDate="2011-12-21T18:57:07.7652186-08:00">See list</MadCap:annotation>
            </p>
            <p>Error handling: See model</p>
            <h2>Related (<MadCap:annotation MadCap:createDate="2011-12-21T18:57:57.0247182-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="will these be internal or external links?" MadCap:editor="v-labenn" MadCap:editDate="2011-12-21T18:58:15.0067928-08:00">links only</MadCap:annotation>)</h2>
            <p class="Label">How do I</p>
            <p>Add a derived column</p>
            <p>Replace an existing derived column</p>
            <p class="Label">Extensibility</p>
            <p>Plug<MadCap:change MadCap:changes="12">-</MadCap:change><MadCap:change MadCap:changes="11"> <![CDATA[ ]]></MadCap:change>in custom transform</p>
            <p>Write custom assembly</p>
            <p>Microsoft.Amalga.Pipeline.Model namespace</p>
            <p>Microsoft.Amalga.Pipeline.Transforms namespace</p>
            <p>Troubleshooting service</p>
            <p MadCap:changes="10" class="CHANGEME">TBD</p>
            <p class="Label">
                <MadCap:annotation MadCap:createDate="2011-12-21T18:55:30.6331441-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="style this as &quot;p.SeeAlso&quot;?" MadCap:editor="v-labenn" MadCap:editDate="2011-12-21T18:56:31.2114112-08:00">See <MadCap:change MadCap:changes="9">a</MadCap:change><MadCap:change MadCap:changes="8">A</MadCap:change>lso</MadCap:annotation>
            </p>
            <p>Message Shredder application</p>
            <p>Feed Acquisition application</p>
            <p>Correlation <MadCap:annotation MadCap:createDate="2011-12-21T18:58:28.8203734-08:00" MadCap:creator="v-labenn" MadCap:initials="LLB" MadCap:comment="vs. &quot;and&quot;" MadCap:editor="v-labenn" MadCap:editDate="2011-12-21T18:58:32.4066331-08:00">&amp;</MadCap:annotation> Enterprise ID applications</p>
            <p>TerminologyApplication application</p>
            <p>Debug a hosted application</p>
            <p>Publish an application</p>
            <p>Sync an application</p>
            <p>Remove an application</p>
            <p>Stop a service</p>
        </div>
    </body>
</html>