<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="8" MadCap:lastHeight="736" MadCap:lastWidth="624" MadCap:fileTags="TopicType.Procedure,TopicOwner.StyleMasterResource" MadCap:conditions="Production.doNOTbuild,Releases.Investigation Use">
    <head>
        <MadCap:changeData>
            <MadCap:AddChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="2" MadCap:timestamp="2011-12-22T17:16:17.8822604-08:00" />
            <MadCap:RemoveChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="3" MadCap:timestamp="2011-12-22T17:16:36.3986378-08:00" />
        </MadCap:changeData>
        <link href="../../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>[<span class="Placeholder">Example</span>]<MadCap:variable name="FeatureBrussels.Population Management" /> scenario </h1>
        <p class="PersonaAll">&#160;</p>
        <p class="abstract">
            <MadCap:keyword term="patient lists;lists, patient;criteria;grid;Analytics pane;lists, viewing">
            </MadCap:keyword>This topic describes two typical scenarios for using <MadCap:variable name="FeatureBrussels.Population Management"></MadCap:variable>.</p>
        <p>Here are a <MadCap:change MadCap:changes="3">s</MadCap:change><MadCap:change MadCap:changes="2">series of </MadCap:change><MadCap:change MadCap:changes="3">et o  </MadCap:change>procedures get you started with <MadCap:variable name="FeatureBrussels.Population Management" />.</p>
        <h2>Create a list</h2>
        <ol>
            <li>First, you need to create a patient list. There are several types of criteria you can use. See <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientLists/PL_Task_Create_list_criteria.htm" target="" title="" alt="">Create a list using criteria</MadCap:xref>.</li>
            <li>If you want to use more complex logic to create a list, see <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientLists/PL_Task_Combine_criteria.htm" target="" title="" alt="">Create a  list by combining criteria</MadCap:xref>.</li>
            <li>Once your list is created, you can view it. See <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientLists/PL_Task_View_list.htm" target="" title="" alt="">View a list</MadCap:xref>.</li>
            <li>You can view reports in a graphical form along with the associated list. See <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientLists/PL_Task_View_analytics_pane.htm" target="" title="" alt="">View the  pane</MadCap:xref>.</li>
            <li>If there is no report available for the list, click <span class="UIElementAction">Start Report Builder to add a report</span>. See <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/Analytics/AN_Task_Create_report.htm" target="" title="" alt="">Create a report</MadCap:xref>.</li>
        </ol>
        <h2>View a list</h2>
        <ol>
            <li>On the Patient Lists page, you can view any of the lists to which you have access. See <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientLists/PL_Task_View_list.htm" target="" title="" alt="">View a list</MadCap:xref>.</li>
            <li>Then you can view reports associated with that list. See <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientLists/PL_Task_View_analytics_pane.htm" target="" title="" alt="">View the  pane.</MadCap:xref></li>
            <li>To return to the simple grid view of the list, see <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientLists/PL_Task_View_Grid.htm" target="" title="" alt="">View a patient list in grid mode</MadCap:xref>.</li>
            <li>From the list, you can pick a specific patient and view their patient chart. See <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientChart/PC_Task_Launch_PC.htm" target="" title="" alt="">Start     </MadCap:xref>.</li>
        </ol>
        <p class="SeeAlso">See also</p>
        <p class="SeeAlsoSubHead">Tasks </p>
        <p>
            <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientLists/PL_Task_Create_list_criteria.htm" target="" title="" alt="">Create a list using criteria</MadCap:xref>
        </p>
        <p>
            <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientLists/PL_Task_Combine_criteria.htm" target="" title="" alt="">Create a  list by combining criteria</MadCap:xref>
        </p>
        <p>
            <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientLists/PL_Task_View_analytics_pane.htm" target="" title="" alt="">View the  pane</MadCap:xref>
        </p>
        <p>
            <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientLists/PL_Task_View_Grid.htm" target="" title="" alt="">View grid</MadCap:xref>
        </p>
        <p>
            <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientChart/PC_Task_Launch_PC.htm" target="" title="" alt="">Start  </MadCap:xref>
        </p>
        <p class="SeeAlsoSubHead">Concepts </p>
        <p>
            <MadCap:xref href="../../../../../../AmalgaV3UG-wking/Content/PatientLists/PL_Con_Patient_Lists_overview.htm" target="" title="" alt=""> overview</MadCap:xref>
        </p>
    </body>
</html>