<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="847" MadCap:lastWidth="624" MadCap:fileTags="TopicType.Procedure,TopicOwner.StyleMasterResource" MadCap:conditions="Production.doNOTbuild,Releases.Investigation Use">
    <head>
        <link href="../../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Instructions for [<i>Feature_name</i>] scenario </h1>
        <p class="note">Feature name may not be a formal feature name, but could also be a concept or sub-feature. <br />Use this template for multiple tasks for procedures that the user must perform in a sequential order. Steps may be xrefs to whole procedures.</p>
        <p class="note">Previous paragraph is a color-specific persona line.<br />Default style:&#160;p.personaAll<br />Revise to select a specific persona.</p>
        <p class="abstract">[Abstract] This topic contains instructions for completing multiple related tasks.</p>
        <p class="note">The abstract is a complete sentence that describes what is in the topic; it doesn't summarize the topic. It should start with This topic followed by a verb such as describes or contains, etc.</p>
        <p class="note">[Intro paragraph] <a href="../../../../Example-Code in pre style.htm">Example-Code in pre style.htm</a></p>
        <p class="note">Add index marker. There should be at least one keyword per topic. Insert the index marker (or index "entry") in the first non-abstract paragraph that is not a snippet if the marker applies to the whole topic.</p>
        <p class="note">Should include snippeted text from Feature_Name overview or other description of the overall feature and something like this:] The following processes walk you through the steps and procedures needed to do [<span class="Placeholder">x, y, z</span>].</p>
        <h2>[Name of scenario]</h2>
        <p class="note">Typically, there will be one scenario per scenario topic. </p>
        <ol>
            <li>Instructions or xref to another procedure.</li>
            <li>Instructions or xref to another procedure.</li>
        </ol>
        <p class="SeeAlso" MadCap:conditions="Production.doNOTbuild">See also</p>
        <p class="note">If you add a  cross-reference or hyperlink in the See also section, remember to remove the DoNotBuild condition.</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Tasks</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">References</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Concepts</p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Other resources </p>
        <p MadCap:conditions="Production.doNOTbuild">[Cross reference or hyperlink if external resource]</p>
    </body>
</html>