<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="5" MadCap:lastHeight="852" MadCap:lastWidth="624" MadCap:fileTags="TopicType.Ref-Visual,TopicOwner.StyleMasterResource" MadCap:conditions="Production.doNOTbuild,Releases.Investigation Use" class="concept">
    <MadCap:change MadCap:changes="9">&#160;</MadCap:change>
    <head>
        <MadCap:changeData>
            <MadCap:AddChange MadCap:userName="v-labenn" MadCap:initials="LLB" MadCap:id="9" MadCap:timestamp="2012-01-04T18:35:50.6719838-08:00" />
            <MadCap:AddChange MadCap:userName="v-ciwyco" MadCap:initials="CJW" MadCap:id="62" MadCap:timestamp="2012-01-04T22:20:10.8731907-08:00" />
        </MadCap:changeData>
        <link href="../../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1> Instructions for [<span class="Placeholder">UI label</span> variable] [UI element type] visual reference</h1>
        <p class="note">For topic title, use [<i>UI label</i>] [<i>UI element type</i>] visual reference&#160; For example: Amalga Management Console primary window. </p>
        <p class="PersonaAll">&#160;</p>
        <p class="note">If you need a variable for the UI label, contact Cindy Wyckoff (v-ciwyco).</p>
        <p class="note">An example of a topic that uses this VizRef template is here:&#160; <MadCap:xref href="../../../../../../AmalgaV3-wking/Content/Example-pd-proposed-TT_Visual_Reference.htm" target="" title="" alt=""> C:\UA-SRC\AmalgaV3-wking\Content\Serviceability\Management Console\Entity Management\SERV_VREF_AccessPolicy.htm </MadCap:xref></p>
        <p class="PersonaAll">&#160;</p>
        <p class="note">Previous paragraph is a color-specific persona line. Default style:&#160;p.personaAll<br />Revise to select a specific persona. If more than one persona applies, use all.</p>
        <p class="abstract">[Abstract] This topic includes an image of the [UI&#160;label variable] [UI element type] and describes its key elements. </p>
        <p class="note">The abstract is a complete sentence that describes what is in the topic; it doesn't summarize the topic. Use the above phrasing for visual reference abstracts.</p>
        <p>
            <MadCap:snippetText src="../../../../Resources/Snippets/Vis-Ref-AMC-Purpose.flsnp" />[</p>
        <p class="note">Briefly describe the function of the UI element; why the reader would use this UI element.</p>
        <p class="note">Add index marker for whole topic here. There should be at least one keyword per topic. Insert the index marker (or index "entry") in the first non-abstract paragraph that is not a snippet if the marker applies to the whole topic. Add other index markers as needed.</p>
        <p><strong>Access</strong>
        </p>
        <p class="note">Optional:&#160;For reference to a single topic that describes how to open the UI element:</p>
        <p>For access steps, see [opening procedure topic].</p>
        <p class="note">Optional:The next two paragraphs apply only if this is a screen within the <MadCap:variable name="FeatureName.Management Console second use" />.</p>
        <p>Open this [UI element] from <MadCap:variable name="FeatureName.Management Console second use" />. </p>
        <ul>
            <li>To start <MadCap:variable name="FeatureName.Management Console second use" />, see [xref to AMC_OpenConsole.htm].</li>
            <li>For steps once you are in <MadCap:variable name="FeatureName.Management Console second use" />, see [xref to proc topic].</li>
        </ul>
        <p class="note"> If the steps necessary to get to the desired screen are two or less, a proc topic is not needed for this purpose. &#160;Just add the steps in lieu of the "for steps" paragraph.</p>
        <p> The following image shows the <span class="Parameter">[UI&#160;label variable]</span> <![CDATA[ ]]><span class="Parameter">[UI element type]</span> [with... indicate expanded, highlighted, or other states within image:]</p>
        <p class="Figure">[<MadCap:change MadCap:changes="62">Insert </MadCap:change>image<MadCap:change MadCap:changes="62"></MadCap:change>]</p>
        <p class="note"><i>Insert graphic above with reference numbers for following table (standard order is clockwise, from upper left). For graphic and callout standards, see [Graphics standards (new section) in upcoming Writers Guide].</i>
        </p>
        <table style="width: 95%;">
            <col style="width: 53px;" />
            <col />
            <col />
            <thead>
                <tr>
                    <th>Ref#</th>
                    <th>Name</th>
                    <th>Description and tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
            </tbody>
        </table>
        <p class="SeeAlso" MadCap:conditions="Production.doNOTbuild">See also</p>
        <p class="note">If you add a  cross-reference or hyperlink in the See also section, remember to remove the DoNotBuild condition for that paragraph.</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Tasks</p>
        <p MadCap:conditions="Production.doNOTbuild">[Procedure topic to select the related module (<MadCap:variable name="FeatureName.Management Console second use"></MadCap:variable> only)]</p>
        <p MadCap:conditions="Production.doNOTbuild">[All procedure topics that use this UI element (or list the most common procedures that use this UI element; note that these references serve to give instructions for accessing the UI&#160;element]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">References</p>
        <p MadCap:conditions="Production.doNOTbuild">[Visual reference topic for module start page (<MadCap:variable name="FeatureName.Management Console second use"></MadCap:variable> only)]</p>
        <p MadCap:conditions="Production.doNOTbuild">[Visual reference topic for immediate "parent"&#160;UI element, if applicable]</p>
        <p MadCap:conditions="Production.doNOTbuild">[Visual reference topic for immediate "child" UI element, if applicable]</p>
        <p MadCap:conditions="Production.doNOTbuild">[Visual reference topics for additional UI&#160;elements if mentioned in content (optional)]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Concepts</p>
        <p MadCap:conditions="Production.doNOTbuild">[Concept topics related to the usage statement for this UI&#160;element]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Other resources </p>
        <p MadCap:conditions="Production.doNOTbuild">[(optional)]</p>
    </body>
</html>