<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="5" MadCap:lastHeight="855.3333" MadCap:lastWidth="820" MadCap:fileTags="TopicType.Ref-Visual,TopicOwner.StyleMasterResource" MadCap:conditions="Releases.Investigation Use">
    <head>
        <MadCap:changeData>
            <MadCap:AddChange MadCap:userName="v-ciwyco" MadCap:initials="CJW" MadCap:id="1" MadCap:timestamp="2012-01-31T17:04:05.0821493-08:00" />
            <MadCap:UnbindChange MadCap:userName="v-ciwyco" MadCap:initials="CJW" MadCap:id="2" MadCap:timestamp="2012-01-31T17:04:40.0446452-08:00"><i></i>
            </MadCap:UnbindChange>
            <MadCap:UnbindChange MadCap:userName="v-ciwyco" MadCap:initials="CJW" MadCap:id="3" MadCap:timestamp="2012-01-31T17:04:44.2640671-08:00"><i></i>
            </MadCap:UnbindChange>
            <MadCap:BindChange MadCap:userName="v-ciwyco" MadCap:initials="CJW" MadCap:id="4" MadCap:timestamp="2012-01-31T17:04:55.5931999-08:00" />
            <MadCap:UnbindChange MadCap:userName="v-ciwyco" MadCap:initials="CJW" MadCap:id="5" MadCap:timestamp="2012-01-31T17:05:43.2849686-08:00"><span class="Parameter"></span>
            </MadCap:UnbindChange>
        </MadCap:changeData>
        <link href="../../../../Resources/Stylesheets/AmalgaMain.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>[<span MadCap:changes="4,3" class="Placeholder">UI label</span><span MadCap:changes="4" class="Placeholder"> variable</span>] [<MadCap:change MadCap:changes="2">UI structure</MadCap:change>] visual reference </h1>
        <p class="PersonaAll">&#160;</p>
        <p class="abstract">This topic  displays an image of the [UI&#160;label variable] [UI structure] and describes its key elements. </p>
        <p>
            <MadCap:snippetText src="../../../../Resources/Snippets/Vis-Ref-AMC-Purpose.flsnp" />
        </p>
        <p>[See instructions.]</p>
        <p><strong>Access</strong>
        </p>
        <p>[See instructions.]</p>
        <p>The following image shows the<MadCap:change MadCap:changes="1"> <![CDATA[ ]]></MadCap:change><span MadCap:changes="4,5" class="Placeholder">[<MadCap:annotation MadCap:createDate="2012-01-31T17:06:51.0797474-08:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:comment="This is in italics becuase it is styled as a variable (placeholder, in this case)." MadCap:editor="v-ciwyco" MadCap:editDate="2012-01-31T17:07:28.8495240-08:00">UI&#160;label variable</MadCap:annotation>]</span><MadCap:change MadCap:changes="5"> [</MadCap:change><MadCap:annotation MadCap:createDate="2012-01-31T17:07:34.9071297-08:00" MadCap:creator="v-ciwyco" MadCap:initials="CJW" MadCap:changes="5" MadCap:comment="Not a variable, so standard p style." MadCap:editor="v-ciwyco" MadCap:editDate="2012-01-31T17:07:45.1861575-08:00">UI structure</MadCap:annotation><MadCap:change MadCap:changes="5">]</MadCap:change> [indicate expanded, highlighted, or other states within image]:</p>
        <p class="Figure">[Insert image]</p>
        <table style="width: 95%;">
            <col style="width: 53px;">
            </col>
            <col>
            </col>
            <col>
            </col>
            <thead>
                <tr>
                    <th>Ref#</th>
                    <th>Name</th>
                    <th>Description and tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
            </tbody>
        </table>
        <p class="SeeAlso" MadCap:conditions="Production.doNOTbuild">See also</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Tasks</p>
        <p MadCap:conditions="Production.doNOTbuild">[See instructions]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">References</p>
        <p MadCap:conditions="Production.doNOTbuild">[See Instructions.]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Concepts</p>
        <p MadCap:conditions="Production.doNOTbuild">[See Instructions.]</p>
        <p class="SeeAlsoSubHead" MadCap:conditions="Production.doNOTbuild">Other resources </p>
        <p MadCap:conditions="Production.doNOTbuild">[(optional)]</p>
    </body>
</html>